{
  "ignore": ["node_modules/**/*"],
  "presets": [
    [
      "next/babel",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "sourceType": "unambiguous"
}
